In [1]:
import pandas as pd

nome_real_do_arquivo = 'title.basics.tsv' 
caminho_do_arquivo = f'../data/raw/{nome_real_do_arquivo}'

df = pd.read_csv(caminho_do_arquivo, sep='\t', low_memory=False) 

df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short

In [3]:
print(f"O conjunto de dados possui {df.shape[0]} amostras (linhas) e {df.shape[1]} atributos (colunas).") 
print("\n" + "="*30 + "\n")

print("1. Tipos de Dados e Contagem de Não-Nulos:")
df.info()

print("\n" + "="*30 + "\n")

print("2. Estatísticas Descritivas:")
print(df.describe())

print("\n" + "="*30 + "\n")

print("3. Contagem de Valores Faltantes (df.isna().sum()):")
print(df.isna().sum())

O conjunto de dados possui 11953246 amostras (linhas) e 9 atributos (colunas).

==============================

1. Tipos de Dados e Contagem de Não-Nulos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11953246 entries, 0 to 11953245
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: int64(1), object(8)
memory usage: 820.8+ MB

==============================

2. Estatísticas Descritivas:
            isAdult
count  1.195325e+07
mean   1.336766e-01
std    1.414632e+01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    2.025000e+03

==============================

3. Contagem de Valores Faltantes (df.isna().sum()):
tconst              0
titleType           0
primaryTitle       22
originalTitle      22
isAdult             0
startYear           0
endYear             0
runtimeMinutes      0
genres            610
dtype: int64